/* Variabili per una maggiore comodità di richiamo */
:root {
    --arancio-primario: #190800;
    --arancio-tenue: #f4a460;
    --arancio-sfondo: #f5deb3;
    --grigio-testo: #333333;
    --bianco: #ffffff;
    --marrone: #986243;
    --blu: #3498db;
    --rosa: #FFC0CB;
    --verde: #008000;
    --ombra: rgba(0, 0, 0, 0.1);
}

/* Configurazioni per tutti gli elementi presenti */
* {
    margin: 0; /* Reset del margine di tutti gli elementi */
    padding: 0; /* Reset del padding di tutti gli elementi */
    box-sizing: border-box; /* Includi padding e bordi in larghezza ed altezza */
}


/* Configurazione del body generica */

body {
    font-family: perpetua;        /* font di scrittura */
    line-height: 1.5;             /* spazio tra una riga e l'altra 1.5 moltiplicato per il font-size */
    color: var(--grigio-testo);
    background-color: var(--bianco);
}

/* Classe per il bottone di download */

.download-btn {
    align-items: center;    /* con contenuto centrato */
    background-color: var(--bianco);   /* colore sfondo */
    color: var(--arancio-primario);    /* colore testo */
    padding: 15px 35px;        /* spazio tra content e border */
    border-radius: 50px;       /* arrotondamento angoli */
    text-decoration: none;      /* pulisci link da sottolineato */
    font-weight: 600;           /* spessore del testo  */
    transition: all 0.3s ease;   /* piccola animazione al passaggio del mouse */
    box-shadow: 0 4px 15px var(--ombra);  /* ombra con nessuno spostamento orizzontale , 4px di ombra verso il basso e 15px di sfocatura */
}


        /* Header */

header {
    /* Dissolvenza del colore puramente estetico */
    background: linear-gradient(to right, var(--arancio-primario) , var(--arancio-tenue)); /*https://www.w3schools.com/css/css3_gradients.asp */
    color: var(--bianco);
    padding: 80px 20px;
    text-align: center;
    position: relative;  /* l'elemento header sarà riferimento per gli elementi figli */
    overflow: hidden;  /* nascondi tutto ciò che esce dai bordi dell'intestazione */ 
}

header h1 {
    font-family: serif;
    font-size: 70px;  /* dimensione del font */
    font-weight: 900px;
    margin-bottom: 10px;
}

header h2 {
    font-family: serif;
    font-size: 30px; 
    font-weight: 300px;
    margin-bottom: 15px;
}


         /* Navigation Bar */

nav {
    background-color: var(--bianco);
    padding: 15px 20px;
    position: sticky; /* permette alla navigation bar di rimanere attaccata al bordo superiore */
    top: 0; /* blocca la barra al pixel 0 superiore */
    box-shadow: 0 2px 10px var(--ombra);
}

nav ul {
    display: flex;  /* contenitore flexbox sulla stessa riga */
    justify-content: center;  /* allineo gli elementi al centro */
    flex-wrap: wrap;         /* Gli elementi del contenitore flexbox andranno a capo se non hanno spazio sufficiente nella riga */ 
    gap: 15px;               /* spazio in pixel tra gli elemeneti della Navigation bar */
    list-style: none;        /* rimuovo i pallini dalla lista solo per estetica */
}

nav a {
    color: var(--arancio-primario);
    text-decoration: none;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 700px;
    border-radius: 50px;   /* arrotondo gli angoli dell'elemento 'a' */
}

nav a:hover {              /* semplicemente applica un colore quando l'utente passa il mouse sull'elemento 'a' */
    background-color: var(--arancio-sfondo);
      }
     

         /* Main */

section {
    margin-bottom: 70px; /* spazio di 70 px inserito sotto ogni sezione */ 
    scroll-margin-top: 100px;  /* Ogni sezione che visiti avrà uno spazio sopra di esso di 100 px così da essere certi di visualizzare correttamente tutti gli elementi */

    /* voglio centrare ogni sezione correttamente */
    max-width: 1200px; /* max larghezza del contenuto di ogni sezione */
    margin: 0 auto 70px; /* 0 spazio sopra, laterali automatici calcolati dal browser considerando sempre i 1200px di larghezza massima, 70 px di spazio sotto */
    padding: 0 20px;  /* il padding del box content(section) avrà 0 px sopra e sotto e 20 px lateralmente */

}

section h2 {
    font-family: perpetua;
    font-size: 35px;
    color: var(--arancio-primario);
    margin-bottom: 20px;
    border-bottom: 3px solid var(--arancio-sfondo);
    display: flex;
    align-items: center;
    gap: 15px;
}

section h2 .icon {
    font-size: 35px;
}

section h3 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    color: var(--marrone);
   
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 0;
}

section p {
    font-family: perpetua;
    margin-bottom: 15px;
    font-size: 25px;
}


/* Card */
/* https://www.w3schools.com/css/css_grid.asp */
/* contenitore DIV esterno */
.highlights {
    display: grid;  /* creo un grid con RIGHE e COLONNE */
    grid-template-columns: auto auto auto auto;  /* dimensione di ogni colonna del grid */
    gap: 20px;
    
    margin-top: 30px;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
}


/* DIV di ogni singola card */
.highlight-card {
    background: linear-gradient(to right, var(--arancio-tenue) , var(--bianco));     /* Dissolvenza del colore puramente estetico */
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    border: 1px solid rgba(45, 80, 22, 0.1);
    transition: transform 0.3s ease;
}

.highlight-card:hover {
    /* animazione per spostare lungo l'asse y verso l'alto l'elemento al passaggio del mouse */
    transform: translateY(-5px); /* https://www.w3schools.com/cssref/func_translatey.php */
}

        .highlight-card .numero {
            font-family: perpetua;
            font-size: 40px;
            font-weight: 700;
            color: var(--arancio-primario);
            display: block; /* tratto lo span come un blocco che occupa tutta la larghezza disponibile e và a capo */
        }

        .highlight-card .etichetta {
            font-size: 20px;
            color: var(--arancio-primario);
            margin-top: 5px;
        }



        /* Personalizzazioni Liste */
ul {
    margin: 15px 0 15px 25px;
}

li {
    margin-bottom: 10px;
    font-size: 25px
}

       /* Box informativi */

.info-box {
    background-color: var(--arancio-sfondo);
    border-left: 4px solid var(--arancio-primario); /* bordo sinistro marcato di 4px con linea continua(solid) colorata */
    border-right: 4px solid var(--arancio-primario); /* bordo destro marcato di 4px con linea continua(solid) colorata */
    padding: 20px 25px; /* paddig superiore/inferiore 20px, destra/sinsitra 25px */
    border-radius: 10px 10px 10px 10px;  /* arrotondamento angoli di 10px */
}

.two-columns {
    display: grid;  /* contenitore grid */
    grid-template-columns: auto auto;  /* grid container con due colonne la cui dimensione dipende dal contenuto e dal container  https://www.w3schools.com/cssref/pr_grid-template-columns.php */ 
    gap: 30px;  /* distanza tra gli elementi */
    margin: 25px 0;

}

.column-card {
    background-color: var(--bianco);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px var(--ombra);
}

.column-card h4 {
    color: var(--arancio-primario);
    font-size: 25px;
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
}

.column-card li {
    margin-left: 10px;
}


      /* grafico a torta */

.grafici {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.grafico {
    text-align: center;
}

.torta {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: conic-gradient(   /* distribuisce i colori attorno a un cerchio da 0 a 83% blu, il restante rosa */
    var(--blu) 0% 83%,
    var(--rosa) 83% 100%
  );
  margin: 20px auto;
}

.torta-CCNL {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background: var(--verde);
  margin: 20px auto;
}


/*.legenda {
  font-family: Arial, sans-serif;
  margin-left: 280px;
} */

.legenda span {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  vertical-align: middle;  /* questa prioprietà allinea visibilmente il quadrettino al testo */
}
  .blu { background: var(--blu); }
  .rosa { background: var(--rosa); }
  .verde { background: var(--verde); }


      /* Sezione conclusiva */


.conclusione {
    background: linear-gradient(to right, var(--arancio-tenue) , var(--arancio-sfondo));
    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;
}


.quattro-dimensioni {
    display: grid;
    grid-template-columns: auto auto; 
    gap: 20px;
    margin-top: 30px;
}

.dimensione {
    background-color: var(--bianco);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 3px 15px var(--ombra);
}

        .dimensione .num {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: var(--arancio-primario);
            color: var(--bianco);
            border-radius: 50%;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .dimensione p {
            font-size: 18px;
            margin: 0;
        } 

        /* Footer */

footer {
    background-color: var(--marrone);
    color: var(--bianco);
    text-align: center;
    padding: 40px 20px;
    margin-top: 60px;
}

        footer p {
            font-size: 20px;
        }

        footer .download-btn {
            margin-top: 20px;
        }
